body {
    background-color: #0c2641;
}

#content {
    color: white;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top : 150px;
    background-color: rgba(255,255,255,0.3);
    width: 500px;
    border: solid 1px white;
}

#main, #results, #image {
    margin: auto;
    width: 300px;
    display: block;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count:infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

#savings {
	color: rgba(255,255,255,0.3);
    font-family: 'Press Start 2P', cursive;
    font-size: 100px;
    font-weight: 800;
    padding:20px;
    text-align: center;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
